/* Style Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }


/* Header */

.content-container {
  max-width: 1065px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
    background-color: #DC143C;
}

#header-logo {

}

nav{
  width: 80%;
}

nav ul {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
}

nav li {
  list-style: none;
  margin-right: 15px;
}

/* Main */
main {
    background-color: #71dc14;
}

/* Footer */
footer {
    background-color: #2814dc;
}

/* Links */
a {
  text-decoration: none; 
  color: inherit; /
  border-bottom: 1px solid transparent; 
  transition: border-color 0.3s; 
}

a:hover {
  border-color: #BA5C56; 
}