/* Style Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }


/* Body */
body {
  background-color: #40434F;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Flex componenents */

.content-container {
  max-width: 1065px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.flex-space-between{
  justify-content: space-between;
}

.flex-space-evenly{
  justify-content:space-evenly;
}

.flex-end{
  justify-content: flex-end;
}

.flex-items-center{
  align-items: center;
}

.flex-col-gap{
  column-gap: 10px;
}

.half-width{
  width: 50%;
}


/* Header */

header {
    background-color: #323952;
    width: 100%;
    margin-bottom: 15px;
}

#header-logo {
  max-width: 225px;
}

.header-height{
  height: 90px;
}

nav{
  width: 75%;
}

nav ul {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

nav li {
  list-style: none;
  margin-right: 15px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#signup-link {
  background-color: #30728E;
  padding: 10px 20px;
}

/* Banner */
#banner {
  margin-bottom: 15px;
}

#banner-img {
  background-image: url("../images/godot-banner.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  height: 405px;
}

/* Clients */

#clients {
  width: 100%;
  background-color: #242529;
  margin-bottom: 15px;
}

.clients-height{
  height: 200px;
}

.clients-logo{
  width: 220px;
  padding: 15px;
}

/* Features */

#features-row-1, #features-row-2 {
  margin-bottom: 15px;
}

.features-box{
  width: 33.33%;
  width: calc(100%/3);
}

/* Course */

#course {
  margin-bottom: 15px;
}

#course-list{
  font-size: 20px;
  list-style: none;
}

/* Course Comparison */

#courses-eyecatcher{
  width: 100%;
  background-color: #BA5C56;
  text-align: center;
  letter-spacing: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.course-comparison-list {
  font-size: 20px;
  list-style-position: inside;
  padding: 15px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#course-comparison-list li::marker {
  color: #BA5C56;
}

/* Instructors */

#instructors-eyecatcher{
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

#instructors {
  margin-bottom: 15px;
}

.instructors-box{
  width: 25%;
}

.instructors-img{
  margin-bottom: 5px;
}

.instructors-text{
  background-color: #BA5C56;
  font-size: 16px;
  padding: 10px;
}

/* Sign Up */

#sign-up-eyecatcher{
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
  padding: 10px;
  background-color: #30728E;
}

#sign-up {
  background-color: #30728E;
  width: 100%;
}

.sign-up-form {
  width: 650px;
  justify-content: space-evenly;
  font-size: 20px;
}

.sign-up-form label {
  padding: 10px;
  width: 50%;
}

.submit{
  padding: 10px;
  margin-bottom: 15px;
}

.sign-up-form input {
  padding: 10px;
  width: 100%;
}

/* Links */
a {
  text-decoration: none; 
  color: inherit;
  transition: color 0.3s; 
}

a:hover {
  color: #BA5C56; 
}

/* text */
body{
  color: #ffffff;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

@media only screen and (max-width: 1100px) {
  .flex-row{
    flex-direction: column;
  }

  .header-height{
    height: auto;
  }

  nav{
    width: 100%;
  }

  .clients-height{
    height: auto;
  }

  #course-list{
    font-size: 20px;
    list-style: none;
    padding: 20px;
  }

  .features-box{
    width: 75%;
    margin-bottom: 10px;
  }

  .half-width{
    width: 75%;
  }

  .instructors-box{
    width: 75%;
  }

  .flex-col-gap{
    row-gap: 15px;
    column-gap: 0;
  }

}